.cardFigure {
    position: relative;
    padding: .25rem;
    background-color: whitesmoke;
    box-shadow: var(--box-shadow);

    & > img {
        width: 100%;
        aspect-ratio: 1 / 1;
        padding: .25rem;
        padding-bottom: 0;
    }

    & > figcaption {
        font-weight: bold;
        margin-top: 2px;
        color: var(--modok);
        padding: 2px 4px;
        font-size: 1rem;
        text-align: center;
    }
}